/* Style dasar untuk navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(120, 179, 206, 0);  /* Navbar awal transparan */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease; /* Transisi warna latar belakang dan ukuran navbar */
}

.navbar.shrink {
  background-color: rgba(120, 179, 206, 0.9);  /* Navbar berubah warna saat scroll */
  height: 60px; /* Navbar menyusut saat scroll */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
}

.back-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px; /* Tambahkan margin kanan */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.back-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsif untuk layar kecil */
@media (max-width: 600px) {
  .navbar {
    padding: 0 10px;
    height: 70px;
  }

  .navbar.shrink {
    height: 50px;
  }
}
